html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 0;
}
canvas {
    display: block;
    background-color: hsl( 0, 0%, 0%);
    position: absolute;
    left: 0;
    top: 0;
}