html,body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #22c;
    padding-left: 150px;
}
div {
    color: #000;
    display: inline-block;
    font-size: 80px;
    /*padding-left: 150px;*/
    background-color: #555;
}
.canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #44a;
    opacity: 75%;
}
