:root {
    --root-fgr: hsl(   0, 90%, 80% );
    --root-bgr: hsl( 340, 40%, 10% );
    --deck-bgr: hsl( 240, 50%, 40% );
}
* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    margin: 0;
}
body {
    overflow: hidden;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var( --root-fgr );
    background-color: var( --root-bgr );
}
#cruiser {
    width: 70%;
    height: 50%;
    background-color: var( --root-bgr );
    font: 32px monospace;
}
.Mont {
    position: absolute;
}
/**************************************************************/
.deck {
    /* This is used from Publisher class, after measurments are
       done it can be set to block if necessary.
     */
    display: inline-block;
    background-color: var( --root-bgr );
}
/* Fin */
