:root {
    --root-fgr: hsl(  15, 10%, 80% );
    --root-bgr: hsl( 240, 40%, 20% );
    --deck-bg-color-a: hsl( 240, 50%, 40% );
    --deck-bg-color-b: hsl( 180, 80%, 20% );
}
* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    margin: 0;
}
body {
    overflow: hidden;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var( --root-fgr );
    background-color: var( --root-bgr );
}
.cruiser {
    height: 80%;
    background-color: #00f;
}
.Mont {
    position: absolute;
}
.deck {
    background-color: var( --deck-bg-color-a );
}
.CopyNinjaKakashi {
    background-color: var( --deck-bg-color-b );
}
.deck,.CopyNinjaKakashi {
    width: 800px;
    font: 22px monospace;
    vertical-align: text-top;
}
/* Fin */
