html,body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #22c;
    padding-left: 150px;
}
.text-cont {
    color: #000;
    display: inline-block;
    font-size: 60px;
    background-color: #555;
}
.canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #228;
    opacity: 85%;
}
