:root {
    --deck-bg-color-a: hsl( 240, 50%, 40% );
    --deck-bg-color-b: hsl( 180, 80%, 20% );
    --body-color: hsl( 15, 10%, 80% );
    --body-bg-color: hsl( 220, 90%, 10% );
}
* {
    box-sizing: border-box;  
}
html,body {
    height: 100%;
    margin: 0;
}
body {
    color: var( --body-color );
    background-color: var( --body-bg-color );
}
.deck {
    background-color: var( --deck-bg-color-a );
}
.alt-deck {
    background-color: var( --deck-bg-color-b );
}

/* Fin */
