:root {
    --deck-bgr:    hsl( 240, 50%, 40% );
    --root-fgr:    hsl(   0, 20%, 80% );
    --root-bgr:    hsl( 220, 90%, 20% );
    --cruiser-bgr: hsl( 240, 60%, 10% )
}
* {
    box-sizing: border-box;  
}
html,body {
    height: 100%;
    margin: 0;
}
#root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var( --root-fgr );
    background-color: var( --root-bgr );
    font: 22px monospace;    
}
#cruiser {
    height: 80%;
    width: 60%;
    background-color: var( --cruiser-bgr );
}
.deck {
    display: inline-block;
    background-color: var( --deck-bgr );
}
/* Fin */
